.anm{
	position: absolute;
    top: -5px;
    left: 3px;
    width: 270px;
    height:120px;
}
#arrowDown{
	position: absolute;
    text-align: center;
    top: 70px;
    left: 120px;
    width: 16px;
    height:59px;
    overflow: visible;
}

.matrixContainer{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.mc{
    width:220px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}
.anmMinor2{
	position: absolute;
    top: -20px;
    left: -30px;
    width: 310px;
    height:186px;
}