
.path{
    /*stroke: red;*/
    stroke: #e09b99;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke-width:15;
    
}

.Disappear {
    animation-delay: 0.5s;
    animation-timing-function: linear;    
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-name: dashDisap;
    animation-fill-mode: forwards;
}
.secondDrow{    
    animation-delay:4s;
    animation-timing-function: linear;    
    animation-iteration-count: 1,1;
    animation-duration: 2s, 0.5s;
    animation-name: dash, dashDisap;
}

@keyframes dash {
    0% {
		stroke-dashoffset: 1000;
	}
	100% {
		stroke-dashoffset: 0;
		
	}
}

@keyframes dashDisap{
    from {
        opacity:1;
    }

    to {
        opacity:0;
    }
   
}.numContainer{
    position: relative;
    display: inline-block;
    /*bottom: 100px;
    left: 40%;
    right: 0;*/
    font: 28px "Comic Sans MS", cursive, sans-serif;
    vertical-align: middle;
}
.matrix_2x2{
    position: absolute;
    width: 324px;
    height: 199px;
    top:0px;
    left:0px;
}
.svgPlace {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.firstAppear{
    animation-delay: 1s;
    animation-duration: 0.1s;
    animation-name: apperance;
    animation-fill-mode: forwards; 
}
.middleAppear{
    animation-delay: 1.9s;
    animation-duration: 0.1s;
    animation-name: apperance;
    animation-fill-mode: forwards; 
}
.secondAppear{
    animation-delay: 3s;
    animation-duration: 0.1s;
    animation-name: apperance;
    animation-fill-mode: forwards;
}

@keyframes disapperance{
    from {
        opacity:1;
    }

    to {
        opacity:0;
    }
}
#tarrow{
    position: relative;
    top: 12px;
    width: 70px;
    height: 46.6px;
}
.matrixContainer{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.mc{
    width:210px;
    margin-right: auto;
    margin-left: auto;
}
#algList
{
    margin-top: 40px;
}
#arrows{
    position: absolute;
    left: -85px;
    top: -115px;
    width: 396px;
    height: 360px;
    z-index: -1;
}
#blank{
    position: absolute;
    top: -6px;
    left: 135px;
    background: white;
    width: 70px;
    height: 80px;
}
#leftLines{
    position: absolute;
    top: 1px;
    left: 1px;
    width: 200px;
    height:100px;
}
#rightLines{
    position: absolute;
    top: 1px;
    left: 4px;
    width: 200px;
    height:100px;
}

#mine li{
    margin: 20px 0;
}
#math_block{
    opacity: 0;
    position: relative;
}
