html{
    min-height:100%; //make sure it is at least as tall as the viewport 
    position:relative
}

body{
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#header{
    text-decoration: underline;
    text-align: center;
}

#content{
    padding: 0 150px 0 150px;
}

#content blockquote{
    padding: 6px 40px 6px 40px;
    border-left: thin solid #BBB;
    padding-left: 15px;
    margin:0.83em 0px;
    margin-left: 10px;
}

.code-result__iframe{
    margin-bottom: 40px;
}
.reference
{
    color: #0645AD;  
    white-space: nowrap;
}

.reference:hover{
    text-decoration-line: underline;
}
.remark{
    text-indent: -88px;
    padding-left: 88px;
}
.tright{
    margin-left: 10px;
    clear: right;
    float:right;
}
.tleft{
    margin-right: 10px;
    clear:left;
    float:left;
}
.header{
    margin-top: 20px;
    margin-bottom: 40px;
}

.animation{
    position: absolute;
}

.withIndent{
    text-indent: 50px;
    margin: 0;
}
/*.container{
    height: 100%;
    width: 100%;
}

#navigationPanel > h3{
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: inherit;
}



#linksCol > a{
    text-decoration: none;
    color: black;
    display: block;
    padding-bottom: 1%;
    padding-top: 1%;
    transform: translateZ(0px);
    box-shadow: 0px 0px 1px transparent;
    backface-visibility: hidden;
    overflow: hidden;
    transition-duration: 0.3s;
    transition-property: color, background-color;
}

#linksCol{

}

#navigationPanel a:hover, .hvr-fade:focus, .hvr-fade:active {
    background-color: #2098D1;
    color: #FFF;
}

#mainPart{
    float: right;
    position: relative;
    width: 83%;
}

#navigationPanel{
    float: left;
    position: absolute;
    width: 16.6667%;
    top:0;
    bottom: 0;
    background-color: #F5F2F0;   
    padding-right: 5px;
    padding-left: 15px;
    padding-top: 50px;
}

.definition h5{
    text-decoration: underline;
}

.definition > div{
    display: inline-block;
}

.definition .innerText{
    border-left: thin solid black;
    padding-left: 5px;
    margin-left: 10px;
}*/